<!DOCTYPE html>
<html>

<head>
    <!--Define title-->
    <title>City Search</title>

    <!--You can load all the css files here -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>

    <!--HTML content goes here-->
    <form id="demo" name="input-form" action="#" onsubmit="return validateInput()" required>
        <input id="input" type="text" name="input-field"></input>
        <input name="submit" type="submit" id="button" value="Search">
    </form>
    <div class="totalCount" id="totalCount"></div>
    <div id="loader"></div>


    <!--You can load all the javascript files here-->
    <script type="text/javascript" src="js/script.js"></script>
</body>

</html>